@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');



#main-body {
    font-family: 'Milonga', cursive;
    height: 90vh;
    background-image: url("../images/WhatsApp\ Image\ 2023-09-18\ at\ 9.41.22\ AM.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#bottom-nav {
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;

}

#school-text {
    opacity: 0.5;
}


#empty-green-board{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#empty-green-board > img {
    z-index: 1;
    margin-top: 1rem;
    width: 600px;
}

@media screen and (max-width:700px) {
    
    #empty-green-board > img {
 
        width: 500px;
    }

}

@media screen and (max-width:510px) {
    
    #empty-green-board > img {
 
        width: 400px;
    }

}

@media screen and (max-width:410px) {
    
    #empty-green-board > img {
 
        width: 300px;
    }

}