@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');



#main-body {
    font-family: 'Milonga', cursive;
    height: 90vh;
    background-image: url("../images/WhatsApp\ Image\ 2023-09-18\ at\ 9.41.22\ AM.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#bottom-nav {
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;

}

#school-text {
    opacity: 0.5;
}


#wood-board{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#wood-board img {
    z-index: 1;
    margin-top: -3rem;
    width: 500px;
}

#wood-board>h3 {
    z-index: 2;
    color: white;
    margin-top: 2rem;
    text-align: center;

}


@media screen and (max-width:510px) {
    


#wood-board img {
 
    width: 400px;
}


}


@media screen and (max-width:430px) {
    


    #wood-board img {
     
        width: 300px;
    }
    
    
    }